# Digivideas Environment Variables
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_ROUTE=/dashboard/admin/digivideas

# Administrative Passcode
ADMIN_PASSCODE=MuazDigivideas285561.
NEXT_PUBLIC_ADMIN_PASSCODE=MuazDigivideas285561.
